apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/instance: bookshelf
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: bookshelf
    app.kubernetes.io/service: bookshelf
    helm.sh/chart: app-template-4.6.0
  name: bookshelf
  namespace: default
spec:
  externalTrafficPolicy: Local
  ports:
  - name: http
    port: 8787
    protocol: TCP
    targetPort: 8787
  selector:
    app.kubernetes.io/controller: main
    app.kubernetes.io/instance: bookshelf
    app.kubernetes.io/name: bookshelf
  type: LoadBalancer
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bookshelf-audio-config
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: org.democratic-csi.iscsi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/controller: main
    app.kubernetes.io/instance: bookshelf
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: bookshelf
    helm.sh/chart: app-template-4.6.0
  name: bookshelf
  namespace: default
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/controller: main
      app.kubernetes.io/instance: bookshelf
      app.kubernetes.io/name: bookshelf
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/controller: main
        app.kubernetes.io/instance: bookshelf
        app.kubernetes.io/name: bookshelf
    spec:
      automountServiceAccountToken: true
      containers:
      - env:
        - name: PGID
          value: "1000"
        - name: PUID
          value: "1000"
        - name: TZ
          value: America/Denver
        image: ghcr.io/pennydreadful/bookshelf:hardcover-v0.4.20.91
        name: main
        volumeMounts:
        - mountPath: /books
          name: books
        - mountPath: /config
          name: config
        - mountPath: /downloads
          name: downloads
      dnsPolicy: ClusterFirst
      enableServiceLinks: false
      hostIPC: false
      hostNetwork: false
      hostPID: false
      serviceAccountName: default
      volumes:
      - name: books
        nfs:
          path: /mnt/mongo/data/media/books
          server: truenas.vanwyhe.xyz
      - name: config
        persistentVolumeClaim:
          claimName: bookshelf-audio-config
      - name: downloads
        nfs:
          path: /mnt/mongo/data/torrents
          server: truenas.vanwyhe.xyz
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  labels:
    app.kubernetes.io/instance: bookshelf
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: bookshelf
    helm.sh/chart: app-template-4.6.0
  name: bookshelf
  namespace: default
spec:
  hostnames:
  - bookshelf.int.vanwyhe.xyz
  - bookshelf.i.vw4.lol
  - bookshelf.int.vw4.lol
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: internal
    namespace: kube-system
    sectionName: https
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: bookshelf
      namespace: default
      port: 8787
      weight: 1
