cosmere-roshar.yaml
cosmere-nalthis.yaml
cosmere-scadrial.yaml
talosconfig
cosmere-komashi.yaml
cosmere-braize.yaml
cosmere-ashyn.yaml
cosmere-canticle.yaml
cosmere-threnody.yaml
cosmere-taldain.yaml
