apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/instance: node-red
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: node-red
    app.kubernetes.io/service: node-red
    helm.sh/chart: app-template-4.6.0
  name: node-red
  namespace: default
spec:
  externalTrafficPolicy: Local
  ports:
  - name: http
    port: 1880
    protocol: TCP
    targetPort: 1880
  selector:
    app.kubernetes.io/controller: main
    app.kubernetes.io/instance: node-red
    app.kubernetes.io/name: node-red
  type: LoadBalancer
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: node-red-data
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: org.democratic-csi.iscsi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/controller: main
    app.kubernetes.io/instance: node-red
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: node-red
    helm.sh/chart: app-template-4.6.0
  name: node-red
  namespace: default
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/controller: main
      app.kubernetes.io/instance: node-red
      app.kubernetes.io/name: node-red
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/controller: main
        app.kubernetes.io/instance: node-red
        app.kubernetes.io/name: node-red
    spec:
      automountServiceAccountToken: true
      containers:
      - env:
        - name: PGID
          value: "1000"
        - name: PUID
          value: "1000"
        - name: TZ
          value: America/Denver
        image: docker.io/kennethreitz/httpbin:latest
        name: main
        volumeMounts:
        - mountPath: /data
          name: data
      dnsPolicy: ClusterFirst
      enableServiceLinks: false
      hostIPC: false
      hostNetwork: false
      hostPID: false
      serviceAccountName: default
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: node-red-data
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  labels:
    app.kubernetes.io/instance: node-red
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: node-red
    helm.sh/chart: app-template-4.6.0
  name: node-red
  namespace: default
spec:
  hostnames:
  - node-red.int.vanwyhe.xyz
  - node-red.i.vw4.lol
  - node-red.int.vw4.lol
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: internal
    namespace: kube-system
    sectionName: https
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: node-red
      namespace: default
      port: 1880
      weight: 1
