apiVersion: v1
kind: Service
metadata:
  annotations:
    lbipam.cilium.io/ips: 10.0.40.8
  labels:
    app.kubernetes.io/instance: qbit
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: qbit
    app.kubernetes.io/service: qbit
    helm.sh/chart: app-template-4.6.0
  name: qbit
  namespace: default
spec:
  externalTrafficPolicy: Local
  ports:
  - name: http
    port: 9092
    protocol: TCP
    targetPort: 9092
  - name: torrent
    port: 51413
    protocol: TCP
    targetPort: 51413
  - name: torrent-udp
    port: 51413
    protocol: UDP
    targetPort: 51413
  selector:
    app.kubernetes.io/controller: main
    app.kubernetes.io/instance: qbit
    app.kubernetes.io/name: qbit
  type: LoadBalancer
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qbittorrent-config
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: org.democratic-csi.iscsi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/controller: main
    app.kubernetes.io/instance: qbit
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: qbit
    helm.sh/chart: app-template-4.6.0
  name: qbit
  namespace: default
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/controller: main
      app.kubernetes.io/instance: qbit
      app.kubernetes.io/name: qbit
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/controller: main
        app.kubernetes.io/instance: qbit
        app.kubernetes.io/name: qbit
    spec:
      automountServiceAccountToken: true
      containers:
      - env:
        - name: PGID
          value: "1000"
        - name: PUID
          value: "1000"
        - name: TORRENTING_PORT
          value: "51413"
        - name: TZ
          value: America/Denver
        - name: WEBUI_PORT
          value: "9092"
        image: ghcr.io/linuxserver/qbittorrent:5.1.4
        name: main
        volumeMounts:
        - mountPath: /config
          name: config
        - mountPath: /downloads
          name: downloads
      dnsPolicy: ClusterFirst
      enableServiceLinks: false
      hostIPC: false
      hostNetwork: false
      hostPID: false
      serviceAccountName: default
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: qbittorrent-config
      - name: downloads
        nfs:
          path: /mnt/mongo/data/torrents
          server: truenas.vanwyhe.xyz
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  labels:
    app.kubernetes.io/instance: qbit
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: qbit
    helm.sh/chart: app-template-4.6.0
  name: qbit
  namespace: default
spec:
  hostnames:
  - qbit.int.vanwyhe.xyz
  - qbit.i.vw4.lol
  - qbit.int.vw4.lol
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: internal
    namespace: kube-system
    sectionName: https
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: qbit
      namespace: default
      port: 9092
      weight: 1
